---
  question: Warum ist eine Verifizierung notwendig?
  ranking: 11
---

Wir müssen sichergehen, dass alle Berater\*innen ausreichend qualifiziert sind, um Frauen, die sich in einer Notlage befinden oder handfesten Rat brauchen, wirklich helfen zu können.
